@{
    ViewData["Title"] = "About US";
    ViewData["Banner"] = "About";
}


<partial name="_Banner" />



<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <h1 class="text-center class=" display-4"">@ViewData["Title"]</h1>
            <br />
            <br />
            <br />
            <h3 class="text-center fs-3">Dan Ouyang
            </h3>
            <h3 class="text-center fs-3">Board of Chairman
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">I am enjoining at technological development. I am willing to complete big projects.</p>
                <p><img src="/pic/about.png" class="img-fluid" /></p>
                <p>This project is quite big. But still, we complete it. The road is hard to complete by walking, and the people walking on that road is quite tired.</p>
            </div>

        </div>

    </div>
</div>

<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <br />
            <br />
            <br />
            <h3 class="text-center fs-3">Jugalsin
            </h3>
            <h3 class="text-center fs-3">CEO
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">I like building all kinds of difficult projects.</p>
                <p><img src="/pic/about2.png" class="img-fluid" /></p>
                <p>I like solving technical difficulties.</p>
            </div>

        </div>

    </div>
</div>






<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <br />
            <br />
            <br />
            <h3 class="text-center fs-3">Saluk
            </h3>
            <h3 class="text-center fs-3">CTO
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">I usually do several projects on the same time</p>
                <p><img src="/pic/about3.png" class="img-fluid" /></p>
                <p>I have a lot of experiences of doing software projects</p>
            </div>

        </div>

    </div>
</div>






<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <br />
            <br />
            <br />
            <h3 class="text-center fs-3">Clarissa Angline
            </h3>
            <h3 class="text-center fs-3">CIO
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">I like doing projects step by step.</p>
                <p><img src="/pic/about4.png" class="img-fluid" /></p>
                <p>I am a strong developer.</p>
            </div>

        </div>

    </div>
</div>