@{
    ViewData["Title"] = "CheckOut";

}



<div>

    <div class="form-group fs-1 text-center" style="color: rgb(225,102,201);">
        <label for="quantity">Thanks for your spending on so much money on us!</label>
    </div>
    <br />
    <br />
    <div class="form-group fs-1 text-center" style="color: rgb(225,102,201);">
        <label for="quantity">We invest in the success of entrepreneurs, artisans, and small businesses selling in our Cshop. When they thrive, our customers benefit from the products and services they offer. That’s part of the reason we have invested more than $300—in 2022—in logistics, tools, services, programs, and people to foster the growth of our sellers.</label>
    </div>
    <br />
    <br />




    <div class="fs-5 lh-base"><a asp-controller="Home" asp-action="Index">Back to the Shop</a></div>
    

</div>



@section Scripts
{
<script src="~/js/cart.js"></script>
}